
.img_div{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:grey
}
.img_div div{
    width:300px;
    height:auto;
    padding:1rem;
    border-radius: 5px;
    border:1px solid grey;
    margin-bottom:2rem;
}

@media only screen and (max-width:720px){
    .img_div{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
}